body{
    text-align: center;
    background-color: black; color: aliceblue;
    font-size: 200%;
    font-family: Arial, Helvetica, sans-serif;
    border: solid;
    line-height: 1.5;
}
h1{
    font-size: 200%
}